<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>H2H</title>
    {%endif%}  
    <!-- <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='img/download.png')}}"> -->
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="">
    <header>
        {% if current_user.is_authenticated %}
        <div class="navbar bg-slate-900 shadow-sm text-white">
            <div class="flex-1">
                <a class="btn btn-ghost test-xl rounded-full shadow-none border-0 hover:bg-slate-200 hover:text-black" href="{{url_for('dashboard')}}">H2H</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a class="mx-2 btn btn-ghost shadow-none border-0 hover:bg-slate-200 hover:text-black" href="{{url_for('new_listing')}}">New Listing</a></li>
                    <div class="dropdown dropdown-end shadow-none">
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle shadow-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor"><path stroke-linecap='rount' stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/> </svg>
                        </div>
                        <ul 
                        tabindex="0"
                        class="menu menu-md sm:menu-lg dropdown-content text-white bg-slate-800 rounded-box z-1 mt-3 w-52 p-2 shadow">
                        <li><a class="hover:bg-slate-700"  href="{{url_for('dashboard')}}">Home</a></li>
                        <li><a class="hover:bg-slate-700"  href="{{url_for('listing_manager')}}">Listings</a></li>
                        <li><a class="hover:bg-slate-700"  href="{{url_for('account')}}">Account</a></li>
                        <li><a class="hover:bg-slate-700"  href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                    
                    </div>
                </ul>
            </div>
        </div>
        
        {% endif %}

        <div class="mt-4 flex justify-center items-center">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {% for category, message in messages %}
                    <div id='flash-{{loop.index}}' role="alert" class="flex justify-center items-center w-fit alert alert-{{ category }} transition-opacity duration-500">
                        <span class=""> {{ message }} </span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </header>

    <main class="p-1 h-full">
        {%block content%}
        {%endblock%}
    </main>

    <footer class="footer footer-horizontal footer-center bg-slate-900 text-primary-content p-10">
        <aside>
          <p class="font-bold">
            Hand2Hand
          </p>
          <p>Copyright © 2025 - All right reserved</p>
        </aside>
      </footer>

    <script>
        document.addEventListener('DOMContentLoaded',() => {
            setTimeout(() => {
                document.querySelectorAll('.alert').forEach((el) => {
                    el.classList.add('opacity-0')
                    setTimeout(() => el.remove(), 500)
                });
            },4000);
        });
    </script>
</body>
</html>