{% extends 'base.html' %}

{% block content %}
<script src="https://unpkg.com/htmx.org"></script>

<div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border my-4">
  <input type="checkbox">
  <div class="collapse-title font-semibold">Filter</div>

  <div class="collapse-content text-sm">
    <form 
      hx-get="{{ url_for('dashboard') }}" 
      hx-target="#results" 
      hx-trigger="change"
      class="grid gap-4"
    >
      <div>
        <p class="mt-2 font-medium">Category:</p>
        <div class="flex gap-2 flex-wrap">
          <label>
            <input type="radio" name="category" value=""
            class="radio {% if cat == category %}checked{% endif %}">
            All
          </label>
          {% for cat in categories %}
            <label>
              <input type="radio" name="category" value="{{cat}}"
              class="radio {% if cat == category %}checked{% endif %}">
              {{cat}}
            </label>
          {% endfor %}
        </div>
      </div>



      <div>
        <p class="mt-2 font-medium">Location:</p>
        <div class="flex gap-2 flex-wrap">
          <label>
            <input type="radio" name="location" value=""
            class="radio {% if cat == category %}checked{% endif %}">
            All
          </label>
          {% for loc in locations %}
            <label>
              <input type="radio" name="location" value="{{loc}}"
              class="radio {% if cat == category %}checked{% endif %}" >
              {{loc}}
            </label>
          {% endfor %}
        </div>
      </div>



      <button type="button" 
  class="btn btn-outline mt-4"
  onclick="clearFilters()"
>Clear Filters</button>
    </form>
  </div>
</div>

<div id="results">
  {% include 'partial_results.html' %}
</div>

<script>
    function clearFilters() {
      const form = document.querySelector('form');
      form.reset();
      // Trigger HTMX to re-fetch results with no filters
      htmx.trigger(form, 'change');
    }
  </script>
{% endblock %}
