{% extends 'base.html' %}

{% block content %}

<div tabindex="0" class="collapse collapse-arrow bg-slate-900 border-0 text-white box mt-1">
  <input type="checkbox">
  <div class="collapse-title font-semibold">Filter</div>

  <div class="collapse-content text-sm">
    <form 
      hx-get="{{ url_for('dashboard') }}" 
      hx-target="#results" 
      hx-trigger="change, keyup delay:300ms"
      class="grid gap-4"
    >
      <div>
        <p class="mt-2 font-medium">Category:</p>
        <div class="flex gap-2 flex-wrap">
          <label>
            <input type="radio" name="category" value=""
            class="radio {% if cat == category %}checked{% endif %}">
            All
          </label>
          {% for cat in categories %}
            <label>
              <input type="radio" name="category" value="{{cat}}"
              class="radio {% if cat == category %}checked{% endif %}">
              {{cat}}
            </label>
          {% endfor %}
        </div>
      </div>



      <div>
        <p class="mt-2 font-medium">Location:</p>
        <div class="flex gap-2 flex-wrap">
          <label>
            <input type="radio" name="location" value=""
            class="radio {% if cat == category %}checked{% endif %}">
            All
          </label>
          {% for loc in locations %}
            <label>
              <input type="radio" name="location" value="{{loc}}"
              class="radio {% if cat == category %}checked{% endif %}" >
              {{loc}}
            </label>
          {% endfor %}
        </div>
      </div>

      <div class="sm:flex sm:items-center sm:justify-center sm:mt-8">
        <p class="mt-2 font-medium sm:mr-4">Search:</p>
        <input 
          type="text" 
          name="q" 
          placeholder="Search keyword…" 
          class="input text-black input-bordered w-full sm:w-1/2 "
          value="{{ q|default('', true) }}"
        >
      </div>

      <button type="button" 
  class="btn  border-none mt-4 w-1/4 sm:w-1/8"
  onclick="clearFilters()"
>Clear Filters</button>

    </form>
  </div>
</div>

<div id="results">
  {% include 'partial_results.html' %}
</div>

<script>
    function clearFilters() {
      const form = document.querySelector('form');
      form.reset();
      // Trigger HTMX to re-fetch results with no filters
      htmx.trigger(form, 'change');
    }
  </script>
{% endblock %}
