{%extends 'base.html'%}


{% block content %}     
    {% if listings %}
        <ul class=" mt-4 mb-80 list bg-base-100 rounded-box p-2 text-white" >
            <li class="p-4 pb-2 text-xs text-slate-900 opacity-70 tracking-wide" >Your active listings ({{num_listings}})</li>
            {% for listing in listings %}
                <li class="list-row bg-slate-900 my-2">
                    <div>
                        <img src="https://swkljpyzafsqnbjnwlck.supabase.co/storage/v1/object/public/listing-images/{{listing.image_file}}" alt="" class="size-10 rounded-box">
                    </div>
                    <div>
                        <div>{{listing.title|truncate(20,True, '...' )}}</div>
                        <div class="text-xs uppercase font-semibold opacity-60">$ {{listing.price}}</div>
                        <p class="list-col-wrap text-xs">{{listing.description|truncate(20,True, '...' )}}</p>
                    </div>

                    {% if not listing.is_boosted %}
                        <a class="btn border-none" href="{{ url_for('boost_info', listing_id=listing.id) }}">Boost</a>
                     {% else %}
                        <button class="btn border-none text-slate-600 btn-disabled">Boosted</button>
                     {% endif %}

                     <div class="dropdown dropdown-left ">
                        <div tabindex="0" role="button" class=" text-white m-1 my-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path> </svg></div>
                        <ul tabindex="0" class="dropdown-content menu border-b-1 bg-slate-800 rounded-box z-1 w-52 p-2 shadow-sm">
                          <li><a class="" href="{{url_for('update_listing' , listing_id=listing.id)}}">Edit</a></li>
                          <li>
                                <form action="{{url_for('delete_listing', listing_id=listing.id)}}" method="post">
                                    <input type="submit" class="" value="Delete">
                                </form>
                            </li>
                        </ul>
                    </div>
                    
                    
                </li>
            {% endfor %}
        
        </ul>

        <br>
        <br>
    {% else %}
    <div class="flex flex-col gap-8 items-center my-70 p-8">
        <p class="  text-4xl sm:text-6xl">No listings yet.</p>
        <a class="btn text-2xl sm:text-4xl" href="{{url_for('new_listing')}}">Make a listing</a>
    </div>
    {% endif %}


{% endblock %}

