{%extends 'base.html'%}


{% block content %}     
    {% if listings %}
        <ul class=" mt-4 mb-80 list bg-base-100 rounded-box p-2 text-white" >
            <li class="p-4 pb-2 text-xs text-slate-900 opacity-70 tracking-wide" >Your active listings ({{num_listings}})</li>
            {% for listing in listings %}
                <li class="list-row bg-slate-900 my-2">
                    <div>
                        <img src="https://swkljpyzafsqnbjnwlck.supabase.co/storage/v1/object/public/listing-images/{{listing.image_file}}" alt="" class="size-10 rounded-box">
                    </div>
                    <div>
                        <div>{{listing.title|truncate(20,True, '...' )}}</div>
                        <div class="text-xs uppercase font-semibold opacity-60">$ {{listing.price}}</div>
                        <p class="list-col-wrap text-xs">{{listing.description|truncate(20,True, '...' )}}</p>
                    </div>
                    <a class="btn border-none " href="{{url_for('update_listing' , listing_id=listing.id)}}">Edit</a>
                    <label class="btn border-none " for="delete_modal" >Delete</label>
                    <input type="checkbox" id="delete_modal" class="modal-toggle">
                    <div class="modal" role="dialog">
                        <div class="modal-box  bg-slate-900">
                        <h3 class="text-lg font-bold">Delete</h3>
                        <p class="py-4"> Are you sure ? This action cannot be undone. </p>
                        <div class="modal-action">
                            <form action="{{url_for('delete_listing', listing_id=listing.id)}}" method="post">
                                <input type="submit" class="btn btn-error" value="Delete">
                            </form>
                            <label for="delete_modal" class="btn">Close</label>
                        </div>
                    </div>
                </li>
            {% endfor %}
        
        </ul>

        <br>
        <br>
    {% else %}
    <div class="flex flex-col gap-8 items-center my-70 p-8">
        <p class="  text-4xl sm:text-6xl">No listings yet.</p>
        <a class="btn text-2xl sm:text-4xl" href="{{url_for('new_listing')}}">Make a listing</a>
    </div>
    {% endif %}


{% endblock %}

