{% extends 'base.html' %}

{%block content%}
    <div class="mx-auto w-full flex flex-col mt-22 mb-8 justify-center items-center" >
        <form method="POST" action="" class="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="fieldset bg-base-300 border-base-300 rounded-box w-xs sm:w-sm  border p-4 mx-2 ">
                <legend class="fieldset-legend text-3xl sm:text-4xl"> {{legend}} </legend>
                
                <div class="">
                    {{ form.title.label(class=' text-[15px] sm:text-[20px]') }}
                        <br>
                    {% if form.title.errors %}
                        {{form.title(class='input input-error')}}
                        <div class="text-red-500">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class='input') }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.description.label(class=' text-[15px] sm:text-[20px]') }}
                        <br>
                    {% if form.description.errors %}
                        {{form.description(class='input input-error')}}
                        <div class="text-red-500">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class='input h-32') }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.price.label(class=' text-[15px] sm:text-[20px]') }}
                        <br>
                    {% if form.price.errors %}
                        {{form.price(class='input input-error')}}
                        <div class="text-red-500">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class='input') }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.category.label(class=' text-[15px] sm:text-[20px]') }}
                        <br>
                    {% if form.category.errors %}
                        {{form.category(class='select select-error')}}
                        <div class="text-red-500">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class='select') }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.location.label(class='text-[15px] sm:text-[20px]') }}
                        <br>
                    {% if form.location.errors %}
                        {{form.location(class='select select-error')}}
                        <div class="text-red-500">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class='select') }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.picture.label(class='text-[15px] sm:text-[20px] bg-') }}
                    {{ form.picture(class='file-input') }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="file-input-error">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="">
                    {{ form.submit(class='sm:text-base btn btn-neutral mt-4') }}
                </div>
            </fieldset>
        </form>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
{%endblock%}
