{% extends 'base.html' %}

{%block content%}


{% if current_user.username == user.username%}
<div class="flex flex-row-reverse">
    <a class="btn mx-8 bg-slate-900 text-white" href="{{url_for('listing_manager')}}">Manage Listings</a>
</div>
{% endif%}
<h3 class="text-4xl mt-4 text-center mx-auto">Listings by {{user.username}} ({{total}}):</h3>

<div class="flex mt-8 flex-wrap gap-8 justify-center items-center sm:flex-row sm:flex-wrap sm:gap-16">
 {% for listing in listings.items %}
                <div class="h-[320px] w-[175px] md:h-[360px] md:w-[240px] card card-md bg-slate-900 shadow-sm text-white">
                    <figure class="">
                        <img class="h-fit w-fit" src="https://swkljpyzafsqnbjnwlck.supabase.co/storage/v1/object/public/listing-images/{{listing.image_file}}" alt="{{ listing.title }}">
                    </figure>
                    <div class="card-body flex flex-col p-2">
                        <h2 class="card-title text-sm font-bold whitespace-nowrap">
                            {{ listing.title | truncate(24, False, '…') }}
                            
                        </h2>
                        <div class="badge border-0 bg-green-600 font-bold ">${{ listing.price }}</div>
                        <div class="badge badge-outline h-fit w-fit mb-2">{{ listing.category }}</div>
                        <div class="card-action justify-end">
                            <div class="grid grid-cols-2 ">
                                <div class="">
                                    <div class=" mt-2 text-s">📍{{ listing.location  }}</div>
                                </div>
        
                                <a href="{{ url_for('listing', listing_id=listing.id) }}" class="btn ml-2">View</a>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            {%else%}
                <p class="text-4xl">No listings found</p>
            {% endfor %}
    </div>


    <div class="join mx-auto w-fit flex justify-center my-20">
        {% if listings.has_prev %}
            <a href='{{url_for("user_listings", username=user.username ,page=listings.prev_num)}}' class="join-item btn">⬅️</a>
        {% else %}
            <a href='{{url_for("user_listings", username=user.username ,page=listings.prev_num)}}' class="join-item btn btn-disabled">⬅️</a>
        {% endif %}

        <button class="join-item btn">Page {{listings.page}}</button>

        {% if listings.has_next %}
            <a href='{{url_for("user_listings", username=user.username ,page=listings.next_num)}}' class="join-item btn btn-">➡️</a>
        {% else %}
            <a href='{{url_for("user_listings", username=user.username ,page=listings.next_num)}}' class="join-item btn btn-disabled">⬅️</a>
        {% endif %}
    </div>
{%endblock%}